<div class="windowDiv" id="#logIn">
	<h2>Log In</h2>


<form action="<%= session_url %>" method="POST">

	<input
		name="authenticity_token"
		type="hidden"
		value="<%= form_authenticity_token %>">

	<div class="fieldGroup">
		<label for="username">Username</label>
		<input type="text" id="username" name="session[username]">
	</div>
	<br>
	<div class="fieldGroup">
		<label for="password">Password</label>
		<input type="password" id="password" name="session[password]">
	</div>
	<br>
	<input type="submit">

</form>

</div>