<h2>Log In</h2>


<form action="<%= session_url %>" method="POST">

	<label for="username">Username</label>
	<input type="text" id="username" name="session[username]">
	<br>
	<label for="password">Password</label>
	<input type="password" id="password" name="session[password]">
	<br>
	<input type="submit">

</form>