

	<div class="clearfix editable">
		<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"
			aria-hidden="true">&times;</button>

		<h2><%= card.get('description') %></h2>
		
		</div>

		<div class="modal-main">
			<div class="dueDate">
				<span id="dueField">Due: <%= card.get('due_date') %></span>
			</div>
		</div>

		<div class="modal-sidebar">

			<button type="button" class="deleteCard" aria-hidden="true">delete</button>

		</div>
	</div>
