	<a href="#" class="cardLink" data-id="<%= card.get('position') %>">
		<%= card.get('description') %>
	</a>
	<button id="deleteCard" class="deleteButton">x</button>
	
<div class="modal fade" id="card-modal">
<div class="modal-dialog">
<div class="modal-content">



</div>
</div>
</div>
