<div id="boardTitleDiv" class="boardHeaderDiv">
<h3 class="boardTitle"><%= board.get('title') %></h3>
</div>
<div id="boardDeleteDiv" class="boardHeaderDiv">
<button id="deleteBoard" class="deleteButton">x</button>
</div>

