<h3>My Boards</h3>

<ul id="boardIndexUl">
	<% boards.each(function(board) { %>
	<li class="boardLi">
	<a href="#/boards/<%= board.escape('slug') %>"><%= board.escape('title') %> </a>
	</li>
	<% }); %>
</ul>

<span id="newBoard"><a href="#/boards/new">New Board</a></span>