<h3>Create a board</h3>

<form>
	<input type="hidden" name="authenticity_token" value=<%= MyTrello.form_authenticity_token %>
	<label for="title">Board Title</label>
	<input type="text" id="title" name="board[title]">
	<br>

	<input type="hidden" name="board[public]" value="true">
	<input type="hidden" name="board[comments]" value="true">

	<input type="submit" class="addButton" value="Add Board">

</form>
