<h2>Create a board</h2>

<form>
	<input type="hidden" name="authenticity_token" value=<%= MyTrello.form_authenticity_token %>
	<label for="title">Board Title</label>
	<input type="text" id="title" name="board[title]">
	<br>

	<input type="hidden" name="board[public]" value="true">
	<input type="hidden" name="board[comments]" value="true">

	<!-- ><label for="public">Public?</label>
	<input type="radio" id="public" name="board[public]" value="true">Public</input>
	<input type="radio" id="public" name="board[public]" value="false">Private</input>
	<br>

	<label for="comments">Comments?</label>
	<input type="radio" id="comments" name="board[comments]" value="true">Yes</input>
	<input type="radio" id="comments" name="board[comments]" value="false">No</input>
	<br> -->


	<input type="submit">

</form>
