
<div class="boardHeader">
<h3 class="boardTitle"><%= board.get('title') %></h3>
</div>
<div class="boardHeader">
<button id="deleteBoard" class="deleteButton">x</button>
</div>

<div id="allLists">
</div>



