<h2><%= board.get('title') %></h2>

<ul id="lists">

<% board_lists.each(function(list){ %>

	<li>
	<a href="#" class="list_link" data-id="<%= list.id %>">
		<%= list.get('title') %>
	</a>
	</li>

<% }); %>

</ul>
