<h2><%= board.title %></h2>

<% list_array = []; %>
<% for(i = 0; i < board_lists.length; i++) { %>
	<%  %>
<% } %>

<ul>
<% board_lists.each(function(list){ %>

	<li>
	<a href="#" class="list_link" data-id="<%= list.id %>">
		<%= list.get('title') %>
	</a>
	</li>

<% }); %>
</ul>
