<div class="modal fade" id="card-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
					<h2>Card View</h2>
					
			</div>
		</div>
	</div>
</div>

<h2><%= board.get('title') %></h2><button id="deleteBoard">x</button>

<div id="allLists">

</div>

<div class="listDiv" id="addList">
<a href="#" id="makeNewList">Add a list</a>
</div>

	<a href='#' data-toggle="modal"
	data-target="#card-modal" id="card-link">
		CARD CARD
	</a>