<div class="formpage" id="#signUp">
<h2>Sign Up</h2>


<form action="<%= users_url %>" method="POST">

	<input
		name="authenticity_token"
		type="hidden"
		value="<%= form_authenticity_token %>">
	<div class="fieldGroup">
		<label for="username">Username</label>
		<input type="text" id="username" name="user[username">
	</div>
	<br>
	<div class="fieldGroup">
		<label for="password">Password</label>
		<input type="password" id="password" name="user[password">
	</div>
	<br>
	<input type="submit">

</form>

</div>