<h2>Sign Up</h2>


<form action="<%= users_url %>" method="POST">

	<label for="username">Username</label>
	<input type="text" id="username" name="user[username">
	<br>
	<label for="password">Password</label>
	<input type="password" id="password" name="user[password">
	<br>
	<input type="submit">

</form>