/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */

@import "bootstrap";

div {
	border-radius: 3px;
};

a:hover {
	text-decoration: none;
};

.allLists {
	display: inline-block;
};

#content{
	margin: 10px;
};

.deleteButton{
	background-color: lightblue;
	color: white;
	border: 1px solid gray;
	left: 5px;
	border-radius: 2px;
};

.boardHeader{
	display: inline-block;
	left: 5px;
	top: 5px;
	position: relative;
};

.modal-content{
	width: 600px;
	position: relative;
	height: 300px;
	// display: block;
};

.modal-header {
	background-color:white;
	position: relative;
	margin: 10px;
};

.modal-main{
	background-color:white;
	float: left;
	width: 60%;
	height: 100%;
	margin: 10px;
	display: inline-block;
};

.modal-sidebar{
	background-color:white;
	float: right;
	width: 30%;
	height: 100px;
	margin: 10px;
	// min-height: 20px;
	display: inline-block;
};
