/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */

@import "bootstrap";

body {
	background-color: #32d7ab;
};

div .box {
	border-radius: 3px;
};

a:hover {
	text-decoration: none;
};

.navbar{
	background-color: #c7f6c7;
};

.fieldGroup {
	//padding: 10px;
	border: 3px;
};

#content{
	margin: 10px;
};

.allLists {
	display: inline-block;
};

#welcomeDiv{
	text-align: center;
	width: 400px;
	//margin-left: 50px;
	left: 50%;
	margin-top: 40px;
};

.windowDiv {
	border: 10px;
	margin: 20px;
};

.cardList {
	min-height: 10px;
};

.deleteButton{
	background-color: #ededed;
	color: darkgray;
	width: 12px;
	height: 12px;
	float: right;
	// top: 0px;
	padding: 0 0 0 0;
	border: 1px;
	border-radius: 2px;
	font-size: 60%;
};

.deleteCard{
	width: 100px;
	height: 40px;
	background-color: lightgreen;
	color: #696969;
	border: 1px;
	border-radius: 3px;
	margin-top: 15px;
};

.descriptionDiv{
	vertical-align: top;
};

.dueField{
	margin: 5px;
	margin-top: 10px;
	vertical-align: middle;
};

#card_description{
	width: 145px;
};

#dueShow{
	margin-top: 21px;
};

#list_title{
	width: 180px;
};

#titleDiv{
	border: 2px;
	margin-right: 50px;
};

.boardHeader{
	display: inline-block;
	left: 5px;
	border: 0px;
	position: relative;
};

.boardHeaderDiv{
	display: inline-block;
};

.boardLi{
	display: inline-block;
	margin: 15px;
	padding: 5px;
	background-color: #e9e9e9;
	width: 300px;
	height: 150px;
	font-size: x-large;
};

#boardIndexUl{
	padding: 0;
};

#boardTitleDiv{
	margin-right: 20px;
};

#boardTitle{
	margin-top: 0px;
	margin-left: 10px;
};

#guestButton{
	width: 200px;
	height: 75px;
	margin-top: 25px;
	background-color: lightgreen;
	border: 0px;
	border-radius: 3px;
	font-size: x-large;
	color: #4c4c4c;
};

#newBoard{
	display: inline-block;
	text-align: center;
	width: 110px;
	margin: 15px;
	height: 50px;
	line-height: 50px;
	border-radius: 3px;
	background-color: lightgreen;
};

.logo_image{
	//width: 50%;
	height: 60px;
};

.nav-logo{
	padding: 0 0 0 0;
};

.modal-content{
	width: 550px;
	position: relative;
	height: 200px;
};

.modal-header {
	background-color:white;
	position: relative;
	margin: 10px;
	height: 70px;
};

.modal-main{
	background-color:white;
	float: left;
	width: 60%;
	height: 100%;
	margin: 20px;
	display: inline-block;
};

.modal-sidebar{
	background-color:white;
	float: right;
	width: 25%;
	height: 50px;
	margin: 10px;
	display: inline-block;
};

.navLi {
	border: 2px;
	background-color: #66d8e6;
	border-radius: 3px;
	margin: 5px;
};
