
<a href="#" class="list_link" data-id="<%= list.get('position') %>">
	<%= list.get('title') %>
</a>

	<div id="allCards">

	</div>

<div class="cardDiv" id="addCard">
	<a href="#" id="makeNewCard">Add a card</a>
</div>